/* ImageCard styling */
.image-card {
  position: relative;
  aspect-ratio: 3/4; /* Aspect ratio of 3:4 */
  max-width: 250px; /* Fixed width */
  overflow: hidden;
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Slight shadow */
}

.image-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the entire card */
}

.image-card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%; /* Span the entire height of the card */
  display: flex;
  align-items: flex-end; /* Align text at the bottom */
  justify-content: center; /* Center the text horizontally */
  padding: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    transparent
  ); /* Gradient background */
  text-align: center;
  font-size: 1em;
  font-family: "Ubuntu";
  font-weight: bold;
  color: white;
}
